.title{
    color:rgb(231, 25, 42);
}

div ul li a{
    color: rgb(153, 74, 17);
    
}
div ul li{
    list-style-type: none;
    color: chocolate;
    
}

div ul li a:hover{
    text-transform: uppercase;
 color: rgb(20, 19, 19);
}